body{
 background-image: url(squirrel.jpg);
 background-position: top left;
 background-size: 100% 100%;
 background-repeat: no-repeat;
 background-attachment: fixed;
}

:root {
     --my-size: 24px;
     --red: 125;
     --green: 125;
     --blue: 125;
     --my-favorite-color: rgb(var(--red), var(--green), var(--blue));
}

h1,p{
     background-color: var(--my-favorite-color, green);
     font-size: var(--my-size); 
}

h1,p, #vid{
     font-family:Valley Sans;
}

#vid{
     font-size: 2rem;
}

thead,tbody{
     border: .0625rem solid black;
}
th{
    background-color: antiquewhite;
    color: brown;
}

tr:nth-child(odd) {background-color:white}
tr:nth-child(even) {background-color: cyan}

caption{
     font-family:Valley Sans;
     background-color: var(--my-favorite-color, green);
}
